[Unit]
Description=NodeJS Express service that provides and monitors system information
Documentation=https://github.com/tkottke90/device-status
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=PORT=11000
Environment=HOST=127.0.0.1
Type=simple
User=dstatus
WorkingDirectory=/etc/device-status
ExecStart=/usr/bin/node /etc/device-status/device-status.js
Restart=on-failure

[Install]
WantedBy=multi-user.target